<% show_post ||= false %>

<div class="row">
  <div class="well col-xs-1 text-center">
    <%= link_to '▲', vote_post_comment_path(comment.post, comment, vote: true), method: :post, class: 'btn', style: 'color: inherit' %>
    <br>
    <%= pluralize(comment.total_votes, 'vote') %>
    <br>
    <%= link_to '▼', vote_post_comment_path(comment.post, comment, vote: false), method: :post, class: 'btn', style: 'color: inherit' %>
  </div>

  <div class="well col-xs-8 col-xs-offset-1">
    <em>“<%= comment.body %>”</em>
    <% if show_post %>
      on <%= link_to comment.post.title, post_path(comment.post) %>
    <% end %>
    <br>
    <span class="quiet">by</span>
    <%= link_to comment.creator.username, user_path(comment.creator) %>
    <small>at <%= display_datetime(comment.created_at) %></small>
  </div>
</div>
